<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type='text/javascript' src="/static/vendors/knockout.js"></script>
    <script type='text/javascript' src="/static/vendors/jquery.js"></script>
    <link rel="stylesheet" href="/static/vendors/bootstrap.css">
</head>
<body>
<div class="container">
<drive-details></drive-details>
<hr>
<finding></finding>
</div>
</body>
<script src="/static/js/tracePath.js"></script>
<script src="/static/js/finding.js"></script>
<script>
    $(document).ready(function(){

    });
</script>
</html>